*{
    margin: 0px;
    padding: 0px;
}


/* button{
    background-color: gray;
     padding: 12px 25px;
     font-size: medium;
     border-radius: 10px;
     margin: 10px;
}

div {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


body{
    height: 100vh;
} */

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 21, 21);
}

#papa {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}

#quote{
    margin: 10px;
}
